h1{
    color: bisque;

}
.filters{
    width: 100%;
    position: fixed;
    background-color: antiquewhite;
    display: flex;
    gap:20px;
    justify-content: sapace-around;
}
.filters select{
    margin-top: 35px;
    width: 180px;
    height: 20px;
}
.filters input{
    margin-top: 35px;
    width: 300px;
    height: 20px;
}
.products{
    padding-top: 100px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
}
.products-item img{
    width: 60%;
    height: 70%;
}
.products-item p{
    font-weight: bold;
}
.products-item{
    width: 340px;
    height: 500px;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}